<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HomewardBound</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/starter-template.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="static/PetPics/doggie.jpg">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="brand" href = "/home"><img STYLE="position:absolute; TOP:15px; LEFT:50px; WIDTH:220px; HEIGHT:35px" src="/static/PetPics/logo.jpg" ></a>

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.lijenniferx.com">About</a></li>
            <li><a href="https://github.com/lijenniferx/HomewardBound">Github</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Page Content -->
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img class="img-responsive left-block" src={{theDog}} height = "300" width = "300">
                    <div class="caption-full">
                        <h3><a>{{theList[0]}}</a></h3>
                        <div>

                            <ul>
                                <li><b>Breed</b>: {{theList[1]}}</li>
                                <li><b>Age:</b> {{theList[2]}}</li>
                                <li><b>Size: </b>{{theList[3]}}</li>
                                <li><b>Sex:</b> {{theList[4]}}</li>
                                {% if theList[4] == 'Female'%}
                                    <li><b>Spayed:</b> {{theList[5]}}</li>
                                {% else %}
                                    <li><b>Neutered:</b> {{theList[5]}}</li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        

        <div class="col-md-4">
<br>
<br>
<br>
        <div class="progress">
        {% if thePrediction[0] > 50 %}
            <div id = 'progressBar' class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">

            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script> $("#progressBar").css("width","{{thePercentage}}");
                    $("#progressBar").css('background-color',"green");
             </script>

            </div>
        {% else %}
             <div id = 'progressBar' class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">

                <script> $("#progressBar").css("width","{{thePercentage}}");
                    $("#progressBar").css('background-color',"red");
                </script>

            </div>

        {% endif %}
        </div>

            <div class = "caption-full">
                  <h3>Currently, I have a {{thePercentage}} chance of getting adopted.</h3>
                {% if thePrediction[1] + thePrediction[2] >0%}
                
                    <form action="/recommendation" method="GET">
                        <input type="hidden" name="alignment" value="{{theID}}" />
                        <button class="btn btn-large btn-info" >PLEASE HELP ME!</button>
                        
                    </form>

                {% endif %}
            </div>

            <br>
            <br>
            {% if thePrediction[0] < 50 %}
                <h4> On average, dogs like me are euthanized in {{length_of_stay}} days. </h3>
            {% endif %}

            

            </div>
        </div>
    </div>


                
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; HomewardBound 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>


 

</body>

</html>
